[build]
dockerfilePath = "Dockerfile"

[deploy]
healthcheckPath = "/api/health/"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3

[[volumes]]
mount = "/app/backend/media"
name = "media_storage"
